/* theme.css */

/* LIGHT MODE */
body.light-mode {
  background-color: #ced2d6f3;
  color: #bcbfc2;
}

.light-mode .form-container,
.light-mode .card,
.light-mode .navbar,.light-mode .form-control {
  background-color: #e0e0d6;
 color: #212529;
}

/* DARK MODE */
body.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
}

.dark-mode .form-container,
.dark-mode .card,
.dark-mode .navbar {
  background-color: #2c2c2c;
  color: #f0f0f0;
}

.dark-mode .form-control,
.dark-mode .form-select {
  background-color: #3a3a3a;
  border: 1px solid #555;
  color: #ffffff;
}

.dark-mode .form-control::placeholder {
  color: #aaaaaa;
}
